// ************************ MAIN ************************
// ************************ PREMIÈRE SECTION ************************
.caseMenuPrincipale {
    padding: 0 0px 60px 0px;
    margin-bottom: 45px;
}
.couleurGrisArrierePlan {
    background-color: #F6F6F6;
    .localisation {
        background-color: #EAEAEA;
        box-shadow: 0px 2px 3px 0px #868887 inset;
        display: flex;
        height: 60px;
        width: 100%;
        .textLocation {
            background-color: #EAEAEA;
            border: unset;
            font-size: 20px;
            width: 150px;
        }
    }
    .dispositionTitrePrincipale {
        margin-top: 40px;
    }
    .sousTitrePrincipale {
        font-size: 20px;
        margin-bottom: 40px;
        opacity: 0.6;
    }
    
// ************************ BOUTON D'EXPLORATION ************************
    .lienExplorationRestaurants:hover {
        background: linear-gradient( #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da 120%);
        box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.4);
        transition: 0.5s;

    }
    .lienExplorationRestaurants {
        background: linear-gradient( #FF79DA, #9356DC 120%); 
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 1px 6px 0 rgba(0,0,0,0.4);
        color: white;
        display: block;
        margin: auto;
        padding: 15px;
        padding-left: 23px;
        padding-right: 23px;
        width: max-content;
    } 
}

// ************************ DEUXIÈME SECTION ************************
.titredeSection {
    font-size: 25px;
    margin-bottom: 25px;
    padding-left: 18px;
}
.iconCouleur:hover :nth-child(2) {
    color: #9356DC;
    transition: 0.7s;
}
.caseFonctionnement:hover {
    background-color: #f3ebff;
    box-shadow: 0px 1px 12px 0 rgba(0,0,0,0.4);
}
.caseFonctionnement {
    background-color: #F6F6F6;
    border-radius: 25px;
    box-shadow: 0px 1px 6px 0 rgba(0,0,0,0.4);
    cursor: pointer;
    display: flex;
    height: 80px;
    margin: auto;
    margin-bottom: 25px;
    position: relative;
    transition: 0.3s;
    width: 90%;
    .textCaseFonctionnement {
        font-size: 16px;
        width: 75%;
    }
    .numeroCaseFonctionnement {
        background-color: #9356DC;
        border-radius: 50%;
        color: white;
        display: flex;
        height: 25px;
        left: -15px;
        position: absolute;
        width: 25px;
    }
}

// ************************ TROISIÈME SECTION ************************
// ************************ SECTION DES RESTAURANTS DISPONIBLE ************************
.dispositionSection {
    margin-top: 70px;
    padding: 0 0px 30px 0px;
    .dispositionTitreSectionTrois {
        padding-top: 45px;
    }
    .margeCaseSectionTrois {
        margin: 20px;
        .carteRestaurant:hover {
            box-shadow: 0 1px 12px 0 rgba(0,0,0,0.4);
        }
// ************************ CARTE RESTAURANT DANS LA PAGE D'ACCEUIL DU SITE ************************
        .carteRestaurant {
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 1px 8px 0 rgba(0,0,0,0.4);
            margin-bottom: 30px;
            transition: 0.3s;
            .relative {
                position: relative;
            }
        }
    }
}

// ************************ COMPOSITION DE LA PARTIE SUPÉRIEURE UNE CARTE RESTAURANTS PRÉSENTE DANS L'ACCEUIL ************************
.ticket {
    background-color: #99E2D0;
    border-radius: 0.2rem;
    color: #095228;
    padding: 0.4rem 1rem;
    position: absolute;
    right: 0.8rem;
    top: 1rem;
}
.dispositionImages {
    border-radius: 20px 20px 0 0;
    height: 190px;
    object-fit: cover;
    width: 100%;
}

// ************************ COMPOSITION DE LA PARTIE INFÉRIEURE UNE CARTE RESTAURANTS PRÉSENTE DANS L'ACCEUIL ************************
.composition {
    display: flex;
    height: 73px;
    .dispositionText {
        margin: 5px 10px 0px 15px;
        text-align: unset;
    }
    .textTransparent {
        font-size: 18px;
        opacity: 0.8;
    }
    .aidePositionnement {
        position: absolute;
        right: 40px;
    }
}

input, select, textarea {
    color: black;
  }