footer h1 {
    font-family: 'shrikhand';
}
.couleurNoirGriser {
    background-color: #353535;
}
.dispositionFooter {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.ohmyfoodwhite {
    margin: unset;
    font-size: 20px;
    padding-bottom: 15px;
}
.dispositionTextFooter {
    justify-content: center;
    .textfooter {
        margin: 4px;
    }
}