footer h1 {
    font-family: 'shrikhand';
}
.couleurNoirGriser {
    background-color: #353535;
}
.dispositionFooter {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 20px;
    .ohmyfoodwhite {
        font-size: 20px;
        margin: unset;
        padding-bottom: 15px;
    }
    .dispositionTextFooter {
        justify-content: center;
        .textfooter {
            margin: 4px;
        }
    }
}