.arrierePlan {
    background-color: white;
    z-index: 1;
    animation: hide 0.5s 2s linear forwards;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    .loader{
        background: white;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.loader div{
    background: #fff;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    animation: loader 1.2s infinite;
}
.loader div:nth-child(1){
    background: #9356DC;
    animation-delay: -0.40s;
}
.loader div:nth-child(2){
    background: #FF79DA;
    animation-delay: -0.20s;
}
.loader div:nth-child(3){
    background: #99E2D0;
    animation-delay: 0s;
}
@keyframes loader{
    50%{
        height: 64px;
    }
    }
    @keyframes hide{
    0%{
        opacity: 1;
        display: block;
    }
    99%{
        opacity:0;
        display: block;
    }
    100%{
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}