.imageRestaurantPages {
    height: 338.66px;
    width: 100%;
    object-fit: cover;
}
.flexDisplayRestaurants {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    .positionFleche {
        position: absolute;
        left: 15px;
        font-size: 30px;
        justify-content: center;
    }
}
.menu {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 18px;
    border-radius: 40px 40px 0 0;
    margin-top: -65px;
    position: relative;
    .flexTesting {
        display: flex;
    }
    .hautMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        .TitreMenu {
            font-size: 27px;
            font-family: 'shrikhand';
        }
        .coeurMenu {
            font-size: 25px;
            padding: unset;
            margin: unset;
        }
        .coeurMenu:hover {
            transition: 0.2s;
            background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-weight: bold;
        }
    }
}
.margeTypePlat {
    margin-top: 40px;
}
.margeTypeCommande {
    padding-top: 50px;
    padding-bottom: 100px;
    .lienCommander {
        display: block;
        color: white;
        width: max-content;
        background: linear-gradient( #FF79DA, #9356DC 120%); 
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        margin: auto;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 1px 6px 0 rgba(0,0,0,0.4);
        font-weight: bold;
    }
}
.typePlat {
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.7;
    padding-bottom: 6px;
    width: 50px;
    border-bottom: solid 3px #99E2D0;
}
.platDisponible:hover {
    box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.4);
}
.platDisponible {
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    column-gap: 30px;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.4);
    .titrePlat {
        margin: 3px;
        font-size: 17px;
    }
    .sousTitrePlat {
        font-size: 14px;
        margin: unset;
        display: flex;
        justify-content: space-between;
        .prixPlat {
            padding-right: 10px;
            font-size: 15px;
        }
    }
}
.compositionMenu {
    margin: 0;
    padding: 0;
}

