.ticketOk:hover {
	transform: translate(-50px);
    opacity: 1;
}
.ticketOk {
    align-items: center;
    background-color: #99E2D0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    height: 45px;
    justify-content: center;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: -50px;
    top: 0;
    transition: transform 330ms ease-in-out;
    width: 45px;
    .fa-check-circle {
        color: #fff;
        font-size: 35px;
        transition: transform 500ms ease-in-out;
    }
}
