header h1 {
  font-family: 'shrikhand';
}

.dispositionPremierTitre {
  margin-bottom: 10px;
  margin-top: 15px;
}

.caseMenuPrincipale {
  padding: 0 0px 60px 0px;
  margin-bottom: 45px;
}

.couleurGrisArrierePlan {
  background-color: #F6F6F6;
}

.couleurGrisArrierePlan .localisation {
  background-color: #EAEAEA;
  -webkit-box-shadow: 0px 2px 3px 0px #868887 inset;
          box-shadow: 0px 2px 3px 0px #868887 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
}

.couleurGrisArrierePlan .localisation .textLocation {
  background-color: #EAEAEA;
  border: unset;
  font-size: 20px;
  width: 150px;
}

.couleurGrisArrierePlan .dispositionTitrePrincipale {
  margin-top: 40px;
}

.couleurGrisArrierePlan .sousTitrePrincipale {
  font-size: 20px;
  margin-bottom: 40px;
  opacity: 0.6;
}

.couleurGrisArrierePlan .lienExplorationRestaurants:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), color-stop(120%, #ff79da));
  background: linear-gradient(#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da 120%);
  -webkit-box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.couleurGrisArrierePlan .lienExplorationRestaurants {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(120%, #9356DC));
  background: linear-gradient(#FF79DA, #9356DC 120%);
  border-radius: 30px 30px 30px 30px;
  -webkit-box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
  color: white;
  display: block;
  margin: auto;
  padding: 15px;
  padding-left: 23px;
  padding-right: 23px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

::-webkit-input-placeholder {
  color: #393939;
}

.titredeSection {
  font-size: 25px;
  margin-bottom: 25px;
  padding-left: 18px;
}

.iconCouleur:hover :nth-child(2) {
  color: #9356DC;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.caseFonctionnement:hover {
  background-color: #f3ebff;
  -webkit-box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.4);
}

.caseFonctionnement {
  background-color: #F6F6F6;
  border-radius: 25px;
  -webkit-box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin: auto;
  margin-bottom: 25px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 90%;
}

.caseFonctionnement .textCaseFonctionnement {
  font-size: 16px;
  width: 75%;
}

.caseFonctionnement .numeroCaseFonctionnement {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  left: -15px;
  position: absolute;
  width: 25px;
}

.dispositionSection {
  margin-top: 70px;
  padding: 0 0px 30px 0px;
}

.dispositionSection .dispositionTitreSectionTrois {
  padding-top: 45px;
}

.dispositionSection .margeCaseSectionTrois {
  margin: 20px;
}

.dispositionSection .margeCaseSectionTrois .carteRestaurant:hover {
  -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.4);
}

.dispositionSection .margeCaseSectionTrois .carteRestaurant {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dispositionSection .margeCaseSectionTrois .carteRestaurant .relative {
  position: relative;
}

.ticket {
  background-color: #99E2D0;
  border-radius: 0.2rem;
  color: #095228;
  padding: 0.4rem 1rem;
  position: absolute;
  right: 0.8rem;
  top: 1rem;
}

.dispositionImages {
  border-radius: 20px 20px 0 0;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 73px;
}

.composition .dispositionText {
  margin: 5px 10px 0px 15px;
  text-align: unset;
}

.composition .textTransparent {
  font-size: 18px;
  opacity: 0.8;
}

.composition .aidePositionnement {
  position: absolute;
  right: 40px;
}

input, select, textarea {
  color: black;
}

.flexDisplayRestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

.flexDisplayRestaurants .positionFleche {
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 15px;
  position: absolute;
}

.imageRestaurantPages {
  height: 338.66px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu {
  border-radius: 40px 40px 0 0;
  margin-top: -65px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  position: relative;
}

.menu .flexTesting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .correctionHautMenu {
  gap: 95px;
}

.menu .hautMenu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .hautMenu .TitreMenu {
  font-family: 'shrikhand';
  font-size: 27px;
}

.menu .hautMenu .coeurMenu {
  font-size: 25px;
  margin: unset;
  padding: unset;
}

.menu .hautMenu .coeurMenu:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.menuSection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuSection .menuBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2%;
  width: 350px;
}

.menuSection .menuBlock .typePlat {
  border-bottom: solid 3px #99E2D0;
  font-size: 15px;
  margin-left: 10px;
  opacity: 0.7;
  padding-bottom: 6px;
  width: 36.5px;
}

.article1 {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 5%;
  overflow: hidden;
  position: relative;
}

.article1:hover > .menudesc {
  -webkit-animation: texte 0.5s;
          animation: texte 0.5s;
}

.article1:hover > .confirmation {
  right: -100px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.article1:hover > .confirmation > div.ajout i {
  font-size: 30px;
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.article1:hover > .menudesc > h3 {
  width: 60%;
}

.article1:hover > .menudesc > h4 {
  width: 60%;
}

.article1 .menudesc h3 {
  font-size: 19px;
  margin-bottom: 3px;
  margin: 0px;
  padding: 0;
}

.article1 .menudesc h4 {
  font-size: 15.3px;
  margin-bottom: 3px;
  margin: 0px;
  padding: 0;
}

.article1 .menudesc {
  -webkit-animation: texter 0.5s;
          animation: texter 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3%;
  overflow: hidden;
  white-space: nowrap;
}

.article1 .menudesc h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.article1 .menudesc h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #414141;
}

.article1 .confirmation {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  right: -124px;
  -webkit-transform: translateX(52px);
          transform: translateX(52px);
  -webkit-transition: 1s;
  transition: 1s;
  width: 60%;
}

.article1 .confirmation .prix {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4.3%;
  padding-right: 5%;
}

.article1 .confirmation div.ajout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.article1 .confirmation .ajout {
  width: 35%;
}

.article1 .menudesc, .article1 div.ajout i {
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@-webkit-keyframes texte {
  0% {
    margin-right: 52px;
  }
  100% {
    margin-right: 100px;
  }
}

@keyframes texte {
  0% {
    margin-right: 52px;
  }
  100% {
    margin-right: 100px;
  }
}

@-webkit-keyframes texter {
  0% {
    margin-right: 100px;
  }
  100% {
    margin-right: 52px;
  }
}

@keyframes texter {
  0% {
    margin-right: 100px;
  }
  100% {
    margin-right: 52px;
  }
}

.margeTypeCommande {
  padding-bottom: 100px;
  padding-top: 50px;
}

.margeTypeCommande .lienCommander:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), color-stop(120%, #ff79da));
  background: linear-gradient(#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da 120%);
  -webkit-box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 12px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.margeTypeCommande .lienCommander {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(120%, #9356DC));
  background: linear-gradient(#FF79DA, #9356DC 120%);
  border-radius: 30px 30px 30px 30px;
  -webkit-box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.4);
  color: white;
  display: block;
  font-weight: bold;
  margin: auto;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer h1 {
  font-family: 'shrikhand';
}

.couleurNoirGriser {
  background-color: #353535;
}

.dispositionFooter {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top: 20px;
}

.dispositionFooter .ohmyfoodwhite {
  font-size: 20px;
  margin: unset;
}

.dispositionFooter .dispositionTextFooter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dispositionFooter .dispositionTextFooter .textfooter {
  margin: 4px;
}

* {
  font-family: 'robotoregular';
}

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"), url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: unset;
}

a {
  color: unset;
  text-decoration: none;
}

.couleurViolet {
  color: #9356DC;
}

.couleurRose {
  color: #FF79DA;
}

.couleurBlanche {
  color: white;
}

.couleurTertiaire {
  color: #99E2D0;
}

.contenueCentrer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.textGras {
  font-weight: bold;
}

.fa-map-marker-alt {
  margin-right: 20px;
}

.positionnementFasFonctionnement {
  font-size: 24px;
  opacity: 0.5;
}

.coeurRemplie {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coeurRemplie:hover {
  padding-top: 18.8px;
  opacity: 1;
}

.fa-heart {
  font-size: 28px;
  padding-top: 20px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fa-heart:hover {
  padding-top: 19px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: -webkit-gradient(linear, right top, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.fa-utensils {
  padding-right: 6px;
}

.fa-hands-helping {
  padding-right: 10px;
}

.fa-utensils {
  padding-right: 16px;
}

.fa-mobile-alt:hover {
  color: green;
}

.transformation {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.transformation:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.87;
}

.transformationCarteRestaurants {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.transformationCarteRestaurants:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.arrierePlan {
  -webkit-animation: hide 0.5s 2s linear forwards;
          animation: hide 0.5s 2s linear forwards;
  background-color: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.arrierePlan .loader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.arrierePlan .loader div {
  -webkit-animation: loader 1.2s infinite;
          animation: loader 1.2s infinite;
  background: #fff;
  height: 32px;
  margin-left: 10px;
  width: 16px;
}

.arrierePlan .loader div:nth-child(1) {
  -webkit-animation-delay: -0.40s;
          animation-delay: -0.40s;
  background: #9356DC;
}

.arrierePlan .loader div:nth-child(2) {
  -webkit-animation-delay: -0.20s;
          animation-delay: -0.20s;
  background: #FF79DA;
}

.arrierePlan .loader div:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #99E2D0;
}

@-webkit-keyframes loader {
  50% {
    height: 70px;
  }
}

@keyframes loader {
  50% {
    height: 70px;
  }
}

@-webkit-keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.chargementInterface {
  -webkit-animation: fadeIn 2.4s;
          animation: fadeIn 2.4s;
}

.chargementInterface1 {
  -webkit-animation: fadeIn 3.8s;
          animation: fadeIn 3.8s;
}

.chargementInterface2 {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.ticketOk:hover {
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
  opacity: 1;
}

.ticketOk {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: -50px;
  top: 0;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  width: 45px;
}

.ticketOk .fa-check-circle {
  color: #fff;
  font-size: 35px;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@media only screen and (min-width: 1230px) {
  .dispositionFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .ohmyfoodwhite {
    padding-bottom: unset;
    font-size: 30px;
  }
  .dispositionTextFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .textfooter {
    padding-left: 70px;
    font-size: 20px;
  }
  .fa-hands-helping {
    padding-right: 5px;
  }
  .fa-utensils {
    padding-right: 5px;
  }
  .margeCaseSectionTrois {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carteRestaurant {
    margin: 15px;
    width: 100%;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 631px) {
  .caseFonctionnement {
    width: 45%;
  }
}

@media only screen and (max-width: 1229px) {
  .margeCaseSectionTrois {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .carteRestaurant {
    width: 45%;
  }
}

@media only screen and (min-width: 631px) {
  .titredeSection {
    text-align: center;
  }
}

@media only screen and (max-width: 630px) {
  .carteRestaurant {
    width: 100%;
  }
  .menuSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

@media only screen and (max-width: 359px) {
  .menu .hautMenu .TitreMenu {
    font-size: 24px;
  }
  .menuSection .menuBlock {
    width: 310px;
  }
  .article1 .menudesc h3 {
    font-size: 17px;
  }
  .article1 .menudesc h4 {
    font-size: 13.7px;
  }
  .article1 .confirmation {
    right: -100px;
  }
  .article1:hover > .confirmation {
    right: -85px;
  }
}
/*# sourceMappingURL=main.css.map */