@media only screen and (min-width : 1230px) {
    .dispositionFooter {
        display: flex;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: unset;
        justify-content: center;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .ohmyfoodwhite {
        padding-bottom: unset;
        font-size: 30px;
    }
    .dispositionTextFooter {
        display: flex;
        align-items: center;
    }
    .textfooter {
        padding-left: 70px;
        font-size: 20px;
    }
    .fa-hands-helping {
        padding-right: 5px;
    }
    .fa-utensils {
        padding-right: 5px;
    }
    .margeCaseSectionTrois {
        display: flex;
        justify-content: space-between;
    }
    .carteRestaurant {
        margin: 15px;
        width: 100%;
    }
}
@media only screen and (max-width : 1920px) and (min-width : 631px) {
    .caseFonctionnement {
        width: 45%;
    }
}
@media only screen and (max-width : 1229px) {
    .margeCaseSectionTrois {
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;
    }
    .carteRestaurant {
        width: 45%;
    }
}
@media only screen and (min-width : 631px) {
        .titredeSection {
        text-align: center;
    }
}
@media only screen and (max-width : 630px) {
    .carteRestaurant {
        width: 100%;
    }
    .menuSection {
        flex-direction: column;
        flex-wrap: unset;
    }
}
