@media only screen and (min-width : 1080px) {
    .fonct {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  
    .caseFonctionnement {
        width: 35%;
    }
    .caseFonctionnement .numeroCaseFonctionnement {
        left: 593px;
    }
    .titredeSection {
        text-align: center;
    }
    .margeCaseSectionTrois {
        display: flex;
        justify-content: space-between;
    }
    .carteRestaurant {
        margin: 15px;
    }
}