body {
    margin: unset;
}
a {
    color: unset;
    text-decoration: none;
}
.couleurViolet {
    color: #9356DC;
}
.couleurRose {
    color: #FF79DA;
}
.couleurBlanche {
    color: white;
}
.couleurTertiaire {
    color: #99E2D0;
}
.contenueCentrer {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.textGras {
    font-weight: bold;
}