.transformation {
    transform: scale(1);
    transition-duration: 350ms;
    transition-property: transform;
}
.transformation:hover {
    transform: scale(1.10);
    opacity: 0.87;
}
.transformationCarteRestaurants {
    transform: scale(1);
    transition-duration: 350ms;
    transition-property: transform;
}
.transformationCarteRestaurants:hover {
    transform: scale(1.01);
}