.transformation {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 350ms;
}
.transformation:hover {
    transform: scale(1.10);
}
.transformationCarteRestaurants {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 350ms;
}
.transformationCarteRestaurants:hover {
    transform: scale(1.01);
}